.test{
    width: 100%;
}

.test_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.type_choose{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30%;
    width: 100%;
}

.type_choose p:nth-child(2){
    margin: 0 5px;
    font-size: 12px;
}

.type_choose p{
    color: #b3b3b3;
}

.type_choose p:not(:nth-child(2)){
    cursor: pointer;
}

.type_choose .chosen_type{
    color: #fff
}

.textarea{
    min-width: 40%;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    font-size: 14px;
    z-index: 2;
    color: #fff;
    font-family: myRegular, serif;
    min-height: 150px;
}

.user_name{
    width: 40%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    color: #fff;
    font-family: myRegular, serif;
}

.placeholder_user{
    position: absolute;
    top: 10px;
    font-family: myRegular, serif;
}

.placeholder_text{
    position: absolute;
    top: 10px;
    left: calc(30% + 10px);
    font-size: 14px;
    font-family: myRegular, serif;
}

.send {
    font-family: myRegular, serif;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: #0b0c10;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.4s ease;

}
.send:hover{
    color: #F27C22;
    border: 1px solid #F27C22;
}

@media screen and (max-width: 700px){
    .user_name, .textarea{
        width: 60%;
    }

    .type_choose{
        padding: 10px 20%;
    }

    .placeholder_text{
        left: calc(20% + 12px);
    }
}

@media screen and (max-device-width: 700px){
    .user_name, .textarea{
        width: 60%;
    }

    .type_choose{
        padding: 10px 20%;
    }

    .placeholder_text{
        left: calc(20% + 12px);
    }
}

@media screen and (max-width: 500px){
    .user_name, .textarea{
        width: 80%;
    }

    .type_choose{
        padding: 10px 10%;
    }

    .placeholder_text{
        left: calc(10% + 12px);
    }
}

@media screen and (max-device-width: 500px){
    .user_name, .textarea{
        width: 80%;
    }

    .type_choose{
        padding: 10px 10%;
    }

    .placeholder_text{
        left: calc(10% + 12px);
    }
}